<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>My Website</title>
    </head>
    <body>
        {{!-- <h1>About Page</h1>
        <p>Some  text here</p> --}}

        {{!-- to use the dynamic data  --}}
        {{!-- <h1>{{pageTitle}}</h1> --}}
        {{> header}}
        <p>Some text here</p>

    {{!-- <footer>
        {{!-- <p>
            copyright 2017
        </p> --}}

        {{!-- <p>
          copyright {{currentYear}}  
        </p> --}}
    {{!-- </footer> --}}
{{!-- Adding footer patial template --}}

        {{> footer}}

    </body>
</html>